<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>

  <springProfile name="local, ci">
    <logger name="ga.rugal" additivity="false" level="TRACE">
      <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="config" additivity="false" level="TRACE">
      <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="org.springframework" additivity="false" level="INFO">
      <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="org.hibernate" additivity="false" level="ERROR">
      <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="io.swagger" additivity="false" level="OFF">
      <appender-ref ref="CONSOLE" />
    </logger>

    <springProfile name="development, staging">
      <logger name="org.springframework" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE" />
      </logger>

      <springProfile name="production">
        <logger name="ga.rugal" additivity="false" level="ERROR">
          <appender-ref ref="CONSOLE" />
        </logger>
      </springProfile>
    </springProfile>
  </springProfile>
</configuration>
